*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/inspectionProfiles/
/benchmark/build/
/core/build/
/feature/build/
/feature/mainscreen/build/
/core/designsystem/build/
/.idea/
